/* Fades */

@keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeout {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

/* Down */

@keyframes downin {
	0% { opacity: 0; transform: translate3d(0,-15px,0); }
	100% { opacity: 1; transform: translate3d(0,0,0); }
}

@keyframes downout {
	0% { opacity: 1; transform: translate3d(0,0,0); }
	100% { opacity: 0; transform: translate3d(0,15px,0); }
}

/* Up */

@keyframes upin {
	0% { opacity: 0; transform: translate3d(0,15px,0); }
	100% { opacity: 1; transform: translate3d(0,0,0); }
}