/* Label */

label {
    color: rgba(252,225,182,1);
	display: block;
    font-size: 25px;
    margin: 0 0 20px 0px;
}

/* Fields */

.field {
	background-color: rgba(56,56,113,1);
    border-radius: 30px;
    box-shadow: inset 3px 3px 6px rgba(0,0,0,0.05);
    height: 80px;
	padding: 30px;
	position: relative;
    width: 100%;
}

.field .material-icons {
	color: rgba(255,255,255,1);
	left: 30px;
	position: absolute;
	top: 50%;
	transform: translate3d(0,-50%,0);
	transition: color 300ms ease-out;
}

.field.blur .material-icons {
	color: rgba(138,130,201,0.5);
}

.field input {
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
}

/* Inputs */

input {
	font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-indent: 65px;
}

input[type="text"] {
	background: transparent;
	border: none;
	color: rgba(255,255,255,1);	
}

::-webkit-input-placeholder { /* Edge */
	color: rgba(138,130,201,0.5);
}

::placeholder {
	color: rgba(138,130,201,0.5);
}

/* Button */

button {
	background: transparent;
	border: none;
	height: 30px;
	padding: 0px;
	text-align: center;
	width: 30px;
}

button:hover {
	cursor: pointer;
}

button .material-icons {
	color: rgba(255,255,255,0.35);
	font-size: 32px;
	transition: color 300ms ease-out;
}

button:hover .material-icons {
	color: rgba(255,255,255,1);
}

/* Lists */

li {
	border-bottom: 1px solid rgba(255,255,255,0.1);
	font-size: 12px;
    letter-spacing: 5px;
	padding: 10px 0;
}

li:last-child {
	border-bottom: none;
}