body,
html {
	background-color: rgba(65,67,136,1);
	color: rgba(255,255,255,1);
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

.bg,
.gradient,
main {
	height: 100%;
	width: 100%;
}

.bg,
.gradient {
	left: 0px;
	position: fixed;
	top: 0px;
}

.bg {
	background-image: url(../../img/bg.jpg);
	background-position: center;
	background-size: cover;
	opacity: 0.15;
}

.gradient {
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	opacity: 0.15;
	width: 100%;
}

.wrapper,
.wrapper-narrow {
	margin: 0 auto;
}

.wrapper-narrow {
	width: 480px;
}

.wrapper {
	width: 800px;
}