.chart .wrapper {
	left: 50%;
	pointer-events: none;
	position: fixed;
	top: 50%;
	transform: translate3d(-50%,-50%,0);
}

.chart.active .wrapper {
	pointer-events: all;
}

.chart.out .wrapper {
	pointer-events: none;
}

/* Label */

.chart h2,
.chart label {
	opacity: 0;
}

.chart.active label {
	animation: fadein 300ms ease-out forwards;
}

.chart.out label {
	animation: fadeout 300ms ease-out 300ms forwards;
	opacity: 1;
}

.chart.active h2 {
	animation: fadein 300ms ease-out 150ms forwards;
}

.chart.out h2 {
	animation: fadeout 300ms ease-out 150ms forwards;	
	opacity: 1;
}

/* Chart container */

.chart #chart-container {
	height: 340px;
	margin: 50px 0 0 0;
	opacity: 0;
	width: 100%;
}

.chart.active #chart-container {
	animation: fadein 300ms ease-out 300ms forwards;
}

.chart.out #chart-container {
	animation: fadeout 300ms ease-out forwards;
}

.highcharts-credits {
	display: none !important;
}

/* Responsive */

@media only screen and (max-width: 1024px) {
	.chart .wrapper {
		padding: 0 50px;
		width: 100%;
	}
}

@media only screen and (max-height: 680px) {
	.chart label {
		display: none;
	}
}