.loader {
    height: 50px;
	left: 50%;
	opacity: 0;
    position: fixed;
	top: 50%;
	transform: translate3d(-50%,-65%,0);
	transition: opacity 1s ease-out, transform 1s ease-out;
	transform-origin: 50% 50%;
	width: 50px;
}

.loader.active {
	opacity: 1;
	transform: translate3d(-50%,-50%,0) rotateX(0deg);
}

.loader .img {
	animation: loader 2s infinite;
	background-image: url(../../img/logo_symbol.png);
	background-size: cover;
	height: calc(67px / 2);
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translate3d(0%,-50%,0);
}

@keyframes loader {
	0% { opacity: 0.33; }
	50% { opacity: 1; }
	100% { opacity: 0.33; }
}