.navbar {
	height: 190px;
	padding: 80px 50px;
	position: relative;
	text-align: center;
	width: 100%;
	pointer-events: none;
}

.navbar.active {
	pointer-events: all;
}

/* Back button */

.navbar button {
	left: 50px;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 50%;
	transform: translate3d(0%,-50%,0);
	transition: opacity 300ms ease-out;
}

.navbar button.active {
	opacity: 1;
	pointer-events: all;
}

/* Logo */

.navbar .logo {
	background-image: url(../../img/logo_symbol.png);
	background-size: cover;
	display: inline-block;
	height: 30px;
	opacity: 0;
	width: 45px;
}

.navbar.active .logo {
	animation: fadein 300ms ease-out forwards;
}

/* Logo text */

.navbar .text {
	background-image: url(../../img/logo_text.png);
	background-size: cover;
	display: inline-block;
	height: 30px;
	margin: 0 0 0 20px;
	opacity: 0;	
	width: 195px;
}

.navbar.active .text {
	animation: fadein 300ms ease-out 150ms forwards;
}