/* Search field */

.search .wrapper {
	pointer-events: none;
}

.search.active .wrapper {
	pointer-events: all;
}

.search .wrapper-narrow:first-child {
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate3d(-50%,-50%,0);
}

.search .field,
.search label {
	opacity: 0;
}

.search.active label {
	animation: fadein 300ms ease-out forwards;
}

.search.out label {
	animation: fadeout 300ms ease-out 300ms forwards;
	opacity: 1;
}

.search.active .field {
	animation: upin 300ms ease-out 150ms forwards;
}

.search.out .field {
	animation: fadeout 300ms ease-out 150ms forwards;
	opacity: 1;
}

.search .field input {
	text-transform: uppercase;
}

/* Search results */

.search .wrapper-narrow:nth-child(2) {
	left: 50%;
	position: fixed;
	top: calc(50% + 72.5px);
	transform: translate3d(-50%,0,0);
}

.search-results {
	animation: upin 300ms ease-out forwards;
	background-color: rgba(56,56,113,1);
	border-radius: 30px;
    box-shadow: inset 3px 3px 6px rgba(0,0,0,0.05);
	box-sizing: border-box;
	padding: 15px 0;
	transition: height 150ms ease-out;
}

.search.out .search-results {
	animation: downout 300ms ease-out forwards;
}

.search-results li {
	color: rgba(255,255,255,0.5);
	cursor: pointer;
	transition: color 150ms ease-out;
	padding: 10px 33px;
	position: relative;
}

.search-results li.active,
.search-results li:hover {
	color: rgba(252,225,182,1);
}

.search-results li .material-icons {
	font-size: 20px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate3d(0,-50%,0);
    vertical-align: middle;
}